.navigation__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    border-top: 1px solid #eee;
}

.navigation__item {
    white-space: nowrap;
    padding: 0 15px;
    line-height: 50px;
    font-weight: 600;
    color: #000;
    border: 1px solid #eee;
    font-size: 14px;
    font-weight: normal;
}