.top-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-menu__home {
    display: block;
    padding-block: 15px;
    margin: 0 10px 0 75px;
    cursor: pointer;
}

.top-menu__home-img {
    width: 280px;
    height: 42px;
}

.top-menu__input {
    border: 0;
    background: none;
    outline: none;
}

.top-menu__input:focus {
    border: 0;
    background: none;
}

.top-menu__search {
    width: 30vw;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #f6f6f6;
    color: #000;
    border: 0;
    padding: 0 44px 0 20px;
    font-size: 16px;
    line-height: 1;
    border-radius: 6px;
}

.top-menu__search:hover {
    background: #eee;
    box-shadow: none;
}

.top-menu__search:focus {
    background: #fff;
    border: 1px solid #f6f6f6;
    box-shadow: inset 0 0 0 2px #eee;
}

.top-menu__input::placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.top-menu__input::placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.top-menu__input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.top-menu__input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.top-menu__input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.top-menu__input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.top-menu__input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.top-menu__input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.top-menu__search-submit {
    font-family: uni2-icons, sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

/* .top-menu__navigation-item-BURGER {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    background: black;
    margin-right: 10px;

    div {
        width: 100%;
        height: 100%;
    }

    &:before,
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        background: black;
    }

    &:before {
        top: -8px;
    }

    &:after {
        top: 8px;
    }
} */

/* .top-menu__navigation-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    border-top: 1px solid #eee;
    margin: 0 75px 0 75px;
    padding: 0;
}

.top-menu__navigation-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 15px;
    line-height: 50px;
    font-weight: 600;
    color: #000;
    border: 1px solid #eee;
    font-size: 14px;
    font-weight: normal;
}

.top-menu__navigation-item:hover {
    cursor: pointer;
    background-color: #f6f6f6;
} */

/* .burger {
    height: 1px;

    &::before,
    &::after {
        height: 1px;
    }
    &::before {
        transform: translateY(-4px);
    }
    &::after {
        transform: translateY(4px);
    }

} */